[Unit]
Description=Streaming Titles Aggregator
Documentation=https://github.com/porech/streaming-titles-aggregator
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=porech
WorkingDirectory=/opt/streaming-titles-aggregator
ExecStart=/opt/streaming-titles-aggregator/streaming-titles-aggregator \
    /opt/streaming-titles-aggregator/config.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
